@import '../../styles/variables.scss';

.main {
    padding: 3rem 5rem;
    background-color: $color-grey-dark;

    .flex_conatiner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 20px;
    }

    .flex {
        flex-wrap: wrap;
        color: $color-light-grey;
        display: flex;
        justify-content: center;
    }
}